body {
    background-color: #F0F0F0;
}

h1 {
    text-align: center;
    background-color: #A4A440;
    padding: 1px;
    font-family: Lucida sans;
    font-size: 22pt;
    font-weight: bold;

}

img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}